.App {
  text-align: center;
  background-color: #1a1a1a; /* Warna latar belakang gelap */
  color: #fff; /* Warna teks putih */
  height: 100vh; /* Tinggi penuh viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #db7093; /* Warna latar belakang header */
  padding: 20px;
  min-height: 30vh; /* Tinggi minimal header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

.App-link {
  color: #61dafb; /* Warna link biru */
  margin-top: 10px;
}

.App-link:hover {
  text-decoration: underline; /* Garis bawah saat hover */
}
